body{
    background: aqua;
    margin: 8px;
}
.container{
    background-color: red;
    font-family: Tahoma, Arial, sans-serif;
    border: 5px solid red;
    
}
.container:hover {
    background-color: yellow;
   }